body{
    margin-left: 6rem;
    margin-top: 4rem;
}

nav ul{
    list-style-type: none;
    background-color: blueviolet;
    text-align: right;
    padding: 0;
    margin: 0;
    border-radius: 0.5rem;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: white;
    width: 80px;
    display: block;
    padding: 15px;
    font-size: 17px;
    transition: 0.4s;
    
}
li a{
    margin-left: 5rem;
}


h1{
    margin-top: 13rem;
    font-size:3rem;
    color: blueviolet;
}
.student img{
    height: 400px;
    width: 400px;
    border-radius: 12rem;
    margin-left: 45rem;
    margin-top: -19rem;
}
.information{
    margin-top: 5rem;
    font-size:2rem;
}
p{
    color: #d946ef;
}
h2{
    color: #4a044e;
}