body{
    margin-left: 6rem;
    margin-top: 4rem;
}

nav ul{
    list-style-type: none;
    background-color: blueviolet;
    text-align: right;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: white;
    width: 80px;
    display: block;
    padding: 15px;
    font-size: 17px;
    transition: 0.4s;
    
}
li a{
    margin-left: 5rem;
}
li a:hover{
    color: black;
}


h1{
    margin-top: 13rem;
    font-size:3rem;
    color: blueviolet;
}
.student img{
    height: 400px;
    width: 400px;
    border-radius: 12rem;
    margin-left: 45rem;
    margin-top: -19rem;
}
.information{
    margin-top: 5rem;
    font-size:2rem;
}
p{
    color: #d946ef;
}
h2{
    color:#be185d;
}
.college{
    margin-top: 5rem ;
    font-size: 2rem;
}
.course{
    margin-top: 5rem;
    font-size: 2rem;
}
.course li{
    color: #d946ef;
}
.cont{
    margin-top: 5rem;
    font-size: 2rem;
}
.link-type a{
    text-decoration: none;
    color: #d946ef;

    
}
.link-type{
    list-style-type: none;
    margin-top: -10.5rem;
    font-size: 3rem;
    
}
li .link-one{
    margin-top: 4rem;
}

.picture-one img{
    height: 60px;
    width: 60px;
    margin-top: 6rem;
}
.picture-two img{
    height: 40px;
    width: 40px;
    margin-left: 0.6rem;
}
.picture-three img{
    height: 50px;
    width: 50px;
    margin-top: 0.5rem;
}

